[Desktop Entry]
Type=Application
Name=Hibi-BuBe
Exec=Hibi-BuBe
Icon=hibi-bube
Categories=Office;Finance;
Comment=Moderne Buchungs-Berichte für Hibiscus
Terminal=false